@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a class="nav-link d-inline-block" asp-area="" asp-controller="Users" asp-action="Register" style="font-size: 28px;">Register</a>
        <a class="nav-link d-inline-block" asp-area="" asp-controller="Users" asp-action="Login" style="font-size: 28px;">Log In</a>
    </div>
</div>

